/build
*.tsbuildinfo
.node_modules
node_modules
package-lock.json
.vscode
.cache
/docs
log/*.log
src/**/.*
.idea
.project
.settings
.rpt2_cache
yarn-error.log
lerna-debug.log
packages/*/tsconfig.tslint.json
tslint.report.log